nav {
  display: inline-block;
  width: 50%;
}
.nav-wrapper {
  min-height: 8vh;
  margin-left: 5vw;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #home,
  #log-out {
    transition: 1s all ease;
    @include custom-button();
  }
}
