nav {
  display: inline-block;
  width: 50%;
}
.nav-wrapper {
  min-height: 8vh;
  margin-left: 13vw;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #home,
  #log-out {
    // height: 3rem;
    transition: 1s all ease;
    @include custom-button();
  }
}

@media screen and (min-width: 1000px) {
  .nav-wrapper {
    width: 15rem;
  }
}
