nav {
  display: inline-block;
  width: 50%;
}
.nav-wrapper {
  min-height: 8vh;
  margin-left: 13vw;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #home,
  #log-out {
    // height: 3rem;
    transition: 1s all ease;
    @include custom-button();
    margin: 0.5rem 0rem;
  }
}

@media screen and (min-width: 1000px) {
  .nav-wrapper {
    width: 15rem;
  }
}
@media screen and (max-width: 750px) {
  .nav-wrapper {
    margin-top: 1rem;
    justify-content: space-around;
    width: 70vw;
  }
}
